In [46]:
s="this is My First Python programming class and i am learning python string and its function"

In [47]:
s[0:300:3]

'tssyityopgmncsa alrnph rgni ni'

In [48]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp gninrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [49]:
s= s.upper()

In [50]:
s.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [51]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [52]:
s.title()

'This Is My First Python Programming Class And I Am Learning Python String And Its Function'

In [53]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

s. isalnum return True only if String contains combination of alphabets & Numbers. Else Returns False.

s.isalpha returns True only if all characters in string are alphabets.

In [54]:
s2="Rahul\tThavai"

In [55]:
s2.expandtabs()

'Rahul   Thavai'

expandtabs() is used to replace \t by tab usually 2-3 spaces

In [56]:
s3="   Rahul    "

In [57]:
s3.lstrip()

'Rahul    '

lstrip() is used to remove space on left side

In [58]:
s3.rstrip()

'   Rahul'

In [59]:
lstrip() is used to remove space on right side

SyntaxError: invalid syntax (911040768.py, line 1)

In [60]:
s4 ="rahul"
type(s4)

str

In [61]:
s4=s4.replace('rahul', 'RAHUL')

In [62]:
s4

'RAHUL'

In [63]:
s5="RahulThavai"

In [64]:
s5.center(20,"*")

'****RahulThavai*****'

compiler transaltes code written in program language to language that machine understands. 
Interpreter executes code line by line

python is compiled & interpreted language

We can use python in Web/Android/Software/App development. Python is used in AI, ML, CV,DL, NLP, BDA